

.shop-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    height: 100%;
    width: 100%;
    background-color:rgba(196, 196, 196, 0.496);
    ;
}