.banner {
  height: 30rem;
  width: 100%;
  background-image: url("../../../assets/banner.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote {
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
}

.banner p {
  font-size: 1rem;
  color: white;
  font-weight: 600;
  font-style: italic;
}

@media (min-width: 320px) and (max-width: 480px) {
  .quote {
    font-size: 1.3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .quote {
    font-size: 1.5rem;
  }
}
